<!DOCTYPE HTML>
<html>
	<head>
		<title>Group Matcher</title>
		<meta charset="UTF-8">
		<style>td{padding:0 3px}</style>
		<link rel="stylesheet" href="static/{{.Theme}}.css">
	</head>
	<body>
		{{.Body}}
	</body>
</html>
